.card {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--card-background);
  width: 87%;
  max-width: 20.5rem;
  margin: auto;
  padding: 1.5em 0;
  margin-bottom: 1.7em;
  border-radius: 0 0 0.333em 0.333em;
  transition: background-color 300ms ease-out;

  &__handle {
    margin-bottom: 0.5em;
    position: relative;

    &::before {
      position: relative;
      top: 0.333rem;
      left: -0.4rem;
      margin-left: 0.4rem;
    }

    &--facebook::before {
      content: url(../images/icon-facebook.svg);
    }

    &--twitter::before {
      content: url(../images/icon-twitter.svg);
    }

    &--instagram::before {
      content: url(../images/icon-instagram.svg);
    }

    &--youtube::before {
      content: url(../images/icon-youtube.svg);
    }
  }

  &__text {
    margin-top: -0.9rem;
  }

  &__statistic {
    position: relative;
    margin-top: 1.2rem;

    &::before,
    &--negative::before {
      position: relative;
      content: url(../images/icon-up.svg);
      top: -0.2rem;
      left: -0.333rem;
      margin-left: 0.3rem;
    }

    &--negative::before {
      content: url(../images/icon-down.svg);
    }
  }

  &--facebook::after,
  &--twitter::after,
  &--instagram::after,
  &--youtube::after {
    position: absolute;
    top: -4px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: "";
    z-index: -1;
    border-radius: 0.333em;
  }

  &--facebook::after {
    background: var(--facebook-color);
  }

  &--twitter::after {
    background: var(--twitter-color);
  }

  &--instagram::after {
    background: var(--instagram-color);
  }

  &--youtube::after {
    background: var(--youtube-color);
  }
}

.card:hover {
  background-color: var(--hover);
}

@include screen-m {
  .card {
    width: 100%;
    max-width: 16rem;
    margin: 0;
  }
}
